@import url("https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css");

body {
  margin: 0;
}
.btn-global,
.btn-ina {
  z-index: 111;
}
#map {
  width: 100vw;
  height: 100vh;
}

.btn-modal {
  position: absolute;
  right: 11px;
  bottom: 25px;
}

.btn-ina {
  right: 142px;
}
